{{ $email := promptString "email" -}}
{{ $useDistrobox := promptBool "useDistrobox" -}}

[data]
    email = {{ $email | quote }}
    useDistrobox = {{ $useDistrobox }}

[git]
    autoCommit = true
    autoPush = true
