.config/fish/*

!.config/fish/conf.d
.config/fish/conf.d/*.fish
!.config/fish/conf.d/keychain.fish
!.config/fish/config.fish

!.config/fish/functions
.config/fish/functions/fisher.fish
.config/fish/functions/*fzf*.fish
.config/fish/functions/*nvm*.fish
.config/fish/functions/_puffer_fish_*.fish
{{- if eq .email "ulrich.feindt@betao.se" }}
.config/fish/functions/pdc.fish
{{- end }}

.config/nvim/lazy-lock.json
