.config/fish/*

!.config/fish/conf.d
.config/fish/conf.d/*.fish
!.config/fish/conf.d/keychain.fish
!.config/fish/config.fish

!.config/fish/functions
.config/fish/functions/fisher.fish
.config/fish/functions/*fzf*.fish
.config/fish/functions/*nvm*.fish
.config/fish/functions/_puffer_fish_*.fish
{{- if ne .email "ulrich.feindt@betao.se" }}
.config/fish/functions/cdlanding.fish
.config/fish/functions/cdmanager.fish
.config/fish/functions/cdsolo.fish
.config/fish/functions/cdsoloweb.fish
.config/fish/functions/cdtypes.fish
.config/fish/functions/cdusv3.fish
.config/fish/functions/pdc.fish
.config/fish/functions/pssl.fish
.config/fish/functions/pull-sb.fish
{{- end }}

.config/nvim/lazy-lock.json
