config/fish/*
!config/fish/conf.d
config/fish/conf.d/*.fish
!config/fish/conf.d/keychain.fish
!config/fish/config.fish
!config/fish/functions
config/fish/functions/fisher.fish
config/fish/functions/*fzf*.fish
config/fish/functions/*nvm*.fish
config/fish/functions/_puffer_fish_*.fish
config/nvim/lazy-lock.json
config/sway/config.d/99-outputs.conf
