[core]
	editor = nvim
	pager = delta
        excludesfile = {{ .config.homeDir }}/.gitignore
[delta]
	navigate = True
[diff]
	colorMoved = default
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta --color-only
[merge]
	conflictstyle = diff3
[pull]
	rebase = True
[push]
	autoSetupRemote = True
[user]
	email = {{ .email | quote }}
	name = Ulrich Feindt
