{{- if .useDistrobox }}
function nw --wraps='kitty @ launch --cwd last_reported distrobox enter $CONTAINER_ID' --description 'alias nw kitty @ launch --cwd last_reported distrobox enter $CONTAINER_ID'
  kitty @ launch --cwd last_reported distrobox enter $CONTAINER_ID $argv
{{- else }}
function nw --wraps='kitty @ launch --cwd last_reported' --description 'alias nw kitty @ launch --cwd last_reported'
  kitty @ launch --cwd last_reported $argv
{{- end }}

end
